@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: auto;
  height: auto;
  width: auto;
  background: #e5e5e5;
}

::-webkit-scrollbar {
  width: 0;
}

#scrollpath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255,255,255,0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #36b37e, #9ec7b6);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%, 100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

#progressbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #36b37e, #9ec7b6);
  filter: blur(10px);
}

#progressbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #36b37e, #9ec7b6);
  filter: blur(30px);
}

header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 400px;
  background-image: url(./Images/Header-llustration-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

footer a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.logo a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #28352f;
  display: none;
}

.links {
  display: flex;
  position: absolute;
  gap: 20px;
  list-style: none;
}

.links li a {
  color: #172b4d;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  transition: 0.3s ease;
}

.social li a {
  font-size: 20px;
  color: #505f79;
}

footer .social a {
  font-size: 30px;
}

.links li a:hover {
  color: #36b37f;
  font-size: 22px;
}

.vector span {
  width: 100%;
  border: 1px solid #28352f;
  display: block;
  transition: all 0.5s ease-in;
}

.vector {
  margin-top: 17px;
  width: 18px;
  height: 12px;
  right: 10%;
  z-index: 3;
  position: absolute;
  display: none;
}

.vector span:nth-child(2) {
  margin: 2px 0;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #172b4d;
}

h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #36b37e;
}

p {
  width: 900px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #172b4d;
}

.social {
  display: inline-flex;
  gap: 12px;
  margin-top: 34px;
  margin-bottom: 90px;
}

.social li {
  text-decoration: none;
  list-style: none;
  transition: transform 0.4s;
}

.server li {
  list-style: none;
  padding: 8px 10px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background: #ebf0ee;
  border-radius: 4px;
  color: #172b4d;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.works li {
  list-style: none;
}

.language li {
  align-items: center;
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.lang li {
  align-items: center;
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.social li:hover {
  transform: scale(1.5);
}

.social li a:hover {
  color: #36b37f;
}

main {
  padding-top: 70px;
  overflow-x: hidden;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 52px;
  padding-bottom: 95px;
}

.head {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 143px;
  padding-right: 143px;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #ebf0ee;
  height: 474px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.7s;
  cursor: pointer;
}

.animate {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.card:hover {
  transform: scale(1.1);
}

.card:nth-child(1) {
  transition-delay: 0.2s;
}

.card:nth-child(2) {
  transition-delay: 0.4s;
}

.card:nth-child(3) {
  transition-delay: 0.6s;
}

.card:nth-child(4) {
  transition-delay: 0.2s;
}

.card:nth-child(5) {
  transition-delay: 0.4s;
}

.card:nth-child(6) {
  transition-delay: 0.6s;
}

#card1 {
  background-image: url(./Images/First-project.PNG);
}

#card2 {
  background-image: url(./Images/Second-project.PNG);
}

#card3 {
  background-image: url(./Images/Third-project.png);
}

#card4 {
  background-image: url(./Images/Fourth-project.jpg);
}

#card5 {
  background-image: url(./Images/Fifth-project.PNG);
}

#card6 {
  background-image: url(./Images/Sixth-project.jpg);
}

#card1,
#card2,
#card3,
#card4,
#card5,
#card6 {
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  height: 222px;
  padding-bottom: 15px;
}

.text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #172b4d;
}

.server {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* display: grid; */
  /* grid-template-columns: auto auto auto; */
  gap: 8px;
}

.lang li:hover {
  background: #36b37f;
  color: #fff;
}

.server li:hover {
  background: #36b37f;
  color: #fff;
}

.button {
  background: #36b37f;
  border-radius: 4px;
  border-style: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.button:hover {
  background: #eee;
  color: #36b37f;
  transform: scale(1.08);
}

.button:active {
  background: #008552;
  color: #fff;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 600ms ease-in-out;
  z-index: 4;
  background: #fff;
  border: 1px solid #ebecf0;
  border-radius: 20px;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  width: 95%;
  max-width: 80%;
  padding: 24px;
  height: 95%;
  overflow-y: scroll;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: #67798e;
  font-size: 30px;
  display: flex;
  margin-left: 98%;
}

.modal-image {
  width: 100%;
  height: 616px;
  transition: transform 0.5s;
}

.modal-image:hover {
  transform: scale(1.03);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding-top: 5px;
}

.modal-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#modal-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: #172b4d;
}

.modal-btns {
  display: flex;
  gap: 12px;
}

.button1 img {
  width: 12px;
}

.button1 {
  background: #36b37f;
  border-radius: 4px;
  border-style: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  padding: 12px;
  color: #fff;
  text-decoration: none;
  width: 120px;
}

.button1:hover {
  background: #36b37f;
  color: #fff;
}

.button1:active {
  background: #008552;
  color: #fff;
}

.text1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #344563;
  text-align: start;
  width: 100%;
}

.modal-content .server {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #484849;
  mix-blend-mode: multiply;
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 95px;
  gap: 24px;
  background-image: url(./Images/illustration_about_me_desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.about h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about p {
  width: 900px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.tools {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 24px;
  padding: 52px 143px 42px;
}

.works {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(./Images/Img_Placeholder.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 369px;
  height: 352px;
}

.skills {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.experience {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.language {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.language li:hover {
  background: #36b37f;
  color: #fff;
}

.lang {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 52px;
}

.contact {
  display: flex;
  padding: 82px 134px 225px;
  gap: 24px;
  background-image: url(./Images/illustration-contact-form-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.contact p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#fname {
  padding: 10px;
  width: 600px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
}

#email {
  padding: 10px;
  width: 600px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
}

#type {
  padding: 10px;
  width: 600px;
  height: 114px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
}

.error {
  display: flex;
  justify-content: space-between;
  margin-left: -60px;
  gap: 10px;
}

#display-error {
  font-size: 12px;
}

footer {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

hr {
  border: 1px solid #dfe1e6;
}

footer .social {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 10px;
  gap: 30px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media screen and (max-width: 768px) {
  header {
    background-image: none;
    padding-bottom: 0;
  }

  .header {
    width: 100%;
    justify-content: space-between;
  }

  .logo {
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  footer a {
    margin-bottom: 100px;
  }

  .logo a {
    display: contents;
  }

  .links {
    flex-direction: column;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 100%;
    height: 92vh;
    transition: all 0.5s ease-in;
    z-index: 2;
    background: #fff;
    mix-blend-mode: normal;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    padding-top: 50px;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
  }

  .links.active {
    left: 0;
  }

  .links li {
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 10px 30px;
  }

  .links li a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #3a4a42;
  }

  .links li a:hover {
    font-size: 40px;
  }

  .vector {
    display: block;
    cursor: pointer;
  }

  .vector.active {
    position: fixed;
  }

  .vector.active span:nth-child(2) {
    opacity: 0;
  }

  .vector.active span:nth-child(1) {
    transform: translateY(2px) rotate(45deg);
    top: auto;
  }

  .vector.active span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
    top: auto;
  }

  main {
    width: 100%;
    height: auto;
  }

  .portfolio {
    height: 650px;
    padding: 20px 24px 0 24px;
    margin-top: 0;
    background-image: url(./Images/Header-llustration-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  h1 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    width: 280px;
  }

  h2 {
    padding-top: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: #36b37e;
  }

  p {
    padding-top: 18px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #172b4d;
    width: 460px;
  }

  .disabled {
    text-align: center;
    margin-top: 45px;
  }

  .container {
    grid-template-columns: 1fr 1fr;
    padding-left: 90px;
    padding-right: 90px;
  }

  .projects {
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }

  .modal-image {
    height: 220px;
  }

  .modal-btns {
    position: absolute;
    top: 90%;
    right: 2%;
    width: 95%;
    height: 55px;
    text-align: center;
  }

  .button1 {
    width: 100%;
  }

  #modal-title {
    font-size: 25px;
    line-height: 25px;
  }

  .modal-content {
    gap: 0;
  }

  .text1 {
    line-height: 21px;
    width: 100%;
  }

  .about {
    padding: 0 24px;
    background-image: url(./Images/illustration_about_me_desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .about > p {
    width: 540px;
  }

  .about .button {
    margin-bottom: 0;
  }

  .tools {
    display: grid;
    grid-template-columns: auto;
    gap: 24px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 50px;
    background-image: none;
    background-image: url(./Images/illustration-contact-form-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

  .contact p {
    font-size: 35px;
    padding: 0 24px;
    width: 600px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #fname {
    width: 400px;
  }

  #email {
    width: 400px;
  }

  #type {
    width: 400px;
  }

  .error {
    margin-left: 10px;
    width: 400px;
  }

  footer {
    padding-top: 0;
  }

  footer .social {
    padding-top: 0;
  }
}

@media screen and (max-width: 640px) {
  .modal-btns {
    top: 90%;
  }
}

@media screen and (max-width: 512px) {
  header {
    width: auto;
  }

  .disabled {
    text-align: center;
    margin-top: 15px;
  }

  main {
    padding-top: 0;
  }

  .span {
    width: 48px;
    border: 3px solid #36b37e;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 62px 24px;
  }

  .title {
    border-radius: 8px;
    padding: 0 5px;
  }

  .text {
    font-family: "Poppins", sans-serif;
    width: 250px;
  }

  .modal {
    overflow-y: scroll;
  }

  .modal-image {
    height: 220px;
  }

  .modal-btns {
    top: 90%;
    right: 2%;
    width: 95%;
    height: 45px;
    text-align: center;
  }

  .button1 {
    width: 100%;
  }

  #modal-title {
    font-size: 20px;
    line-height: 25px;
  }

  .modal-content {
    gap: 0;
  }

  .text1 {
    width: 100%;
    line-height: 21px;
    font-size: 12px;
  }

  .about {
    padding: 0 24px;
    background-image: url(./Images/illustration_about_me_desktop-Copy.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .about > p {
    width: 440px;
  }

  .contact {
    background-image: url(./Images/illustration-contact-form-desktop-Copy.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

  .contact p {
    font-size: 30px;
    padding: 0 24px;
    width: 480px;
  }

  #fname {
    width: 327px;
  }

  #email {
    width: 327px;
  }

  #type {
    width: 327px;
  }

  .error {
    flex-direction: column-reverse;
    align-items: start;
    width: 150px;
    gap: 0;
  }

  .display-error {
    margin-left: -60px;
  }

  footer {
    padding-top: 0;
  }

  hr {
    display: none;
  }
}

@media screen and (max-width: 374px) {
  header {
    width: auto;
  }

  .portfolio {
    background-image: url(./Images/header-illsutration-mobile.png);
  }

  p {
    width: 327px;
  }

  .head {
    width: 327px;
  }

  .span {
    width: 48px;
    border: 3px solid #36b37e;
  }

  .title {
    border-radius: 8px;
    padding: 0 5px;
  }

  .text {
    font-family: "Poppins", sans-serif;
    width: 250px;
  }

  .modal {
    overflow-y: scroll;
  }

  .modal-btns {
    top: 100%;
  }

  .about {
    padding: 0 24px;
    background-image: url(./Images/illustration-aboutme-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .about > p {
    width: 327px;
  }

  .tools {
    gap: 0;
  }

  .works {
    width: 300px;
    height: 352px;
    background-image: url(./Images/Img-Plaholder.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .language {
    margin-bottom: 30px;
    padding: 0 5px;
  }

  .contact {
    background: none;
  }

  .contact p {
    font-size: 30px;
    padding: 0 24px;
    width: 327px;
  }

  form {
    width: 374px;
    background-image: url(./Images/illustration-contact-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

  #fname {
    width: 327px;
  }

  #email {
    width: 327px;
  }

  #type {
    width: 327px;
  }

  footer {
    padding-top: 0;
  }

  hr {
    display: none;
  }
}
